@charset 'UTF-8';
 @media screen and (min-width:300px) and (max-width: 667px) {
    body, html{
        width: 100vw;
        height: 100%;
    }
    body{
        background: black url('../Imagens/fundo-imagem-celular.jpg') no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
    }
    #imagcel{
        margin: 0%;
        position: absolute;
        right: 10%;
        top: 20px;
    }
    img#celular{
        display: inline; 
        height: 50px;
        width: 50px; }
    img#pc{display: none; }
    img#tablet{display: none; }
    img#tv{display: none; }
    header{
        margin: auto;
        max-width: 800px;
        background-color: var(--var3);
        width: 90vw;
        border-style: solid;
        border-color: var(--var5);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
        text-align: center;
    }
 }
 @media screen and (min-width:667px) and (max-width:900) {
    body, html{
        width: 100vw;
        height: 100%;
    }
    body{
        background: black url('../Imagens/fundo-imagem-tablet.jpg') no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
    }
    img#celular{display: none; }
    img#pc{display: none;}
    img#tablet{display: inline;
        width: 50px;
        height: 50px; }
    img#tv{display: none; }
    header{
        margin: auto;
        max-width: 800px;
        background-color: var(--var3);
        width: 90vw;
        border-style: solid;
        border-color: var(--var5);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.26);
        text-align: center;
    }
 }
 @media screen and (min-width: 900px) and (max-width:1200pc){
    body, html{
        width: 100vw;
        height: 100%;
    }
    body{
        background: black url('../Imagens/fundo-imagem-pc.webp') no-repeat;
        background-position: center bottom;
        background-attachment: fixed;
    }
    img#celular{display: none; }
    img#pc{display: inline;
        width: 100px;
        height: 100px;
    }
    img#tablet{display: none; }
    img#tv{display: none; }
 }